<html>

<head>
    <title>Harmony Admin</title>
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/harmony-admin.css">
    <script src="/assets/socketio.js"></script>
    <script src="/assets/jquery.js"></script>
    <script src="/assets/harmony-admin.js"></script>
</head>

<body>
    <div class="container">
        <div class="row h-100">
            <div class="col-12 auto-vertical d-flex justify-content-center">
                <button type="button" class="btn btn-primary btn-lg">سبحان</button>
            </div>
        </div>
    </div>
</body>

</html>