<html>

<head>
    <title>OH M</title>
    <link rel="stylesheet" href="/assets/haji.css">
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <script src="/assets/socketio.js"></script>
    <script src="/assets/jquery.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div id="main-wrapper" class="row h-100">
            <!-- <div class="col-12 auto-vertical d-flex justify-content-center">
                <button type="button" class="btn btn-primary btn-lg">سبحان</button>
            </div> -->
        </div>
    </div>
</body>

<script src="/assets/haji.js"></script>
</html>